.footer {
  display: flex;
  //flex-wrap: wrap;
  align-items: center;
  padding: 0 35px;
  width: 100%;
  height: 200px;
  background-color: #2b2b2b;
  color: #fff;
  font-size: 16px;
  line-height: 25px;

  &__logo_container {
    flex: 2 0 auto;
    margin-right: 30px;
  }

  &__text {
    flex: 0 3 auto;
  }

  &__text_sign {
    text-align: right;
  }


}

.footer__logo_container img {
  width: 100%;
}