.favourite {
  position: absolute;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  top: 5px;
  right: 5px;
  width: 35px;
  height: 35px;
  background-color: #e9e9e9;
  cursor: pointer;

  &_is_checked {
    background-color: orange;
  }
}
